:root {
  // Consistent settings

  // Colours
  --pri-hue: 40;
  --sec-hue: 40;
  --orange-hue: 22;
  --red-hue: 0;
  --green-hue: 120;
  --yellow-hue: 60;
  --f-color: var(--color-g-8);
  --bkgd-color: var(--color-wh);
  // Content Wiidth - for sections and articles
  --cont-width: 100ch;
  // Borders
  --bor-rad: 0;
  --bor-width: 1px;
  // Shadows
  --inner-shadow: 0px 1px 1px var(--color-g-3);
  --shadow-sm: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11), 0 4px 4px rgba(0, 0, 0, 0.11);
  --shadow-md: 0 1px 1px rgba(0, 0, 0, 0.10), 0 2px 2px rgba(0, 0, 0, 0.10), 0 4px 4px rgba(0, 0, 0, 0.10), 0 6px 8px rgba(0, 0, 0, 0.10);
  --shadow-lg: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09), 0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
  0 32px 16px rgba(0, 0, 0, 0.09);
  // Line-heights
  --line-height: 1.5;
  --line-height-header: 1.2;
  --line-height-list: 1.7;
  /* Typography */
  --h-font: 'Livvic', sans-serif;
  --b-font: 'Raleway', sans-serif;
  --l-spacing: 0.06em;
  --w-spacing: 0.08em;
  --h-pos: left;
  --f-wght: 400;
  --h-font-wght: 700;
  --p-max: 18;
  // Transitions
  --trans: ease-in-out;
  --dur: 0.35s;
}