/* Calculation */
@mixin fluid-type($min-vw, $max-vw, $min-value, $max-value) {
  $factor: 1 / ($max-vw - $min-vw) * ($max-value - $min-value);
  $calc-value: unquote("#{ $min-value - ($min-vw * $factor) } + #{ 100vw * $factor }"
  );

  font-size: $min-value; // Fallback for older browsers
  font-size: clamp(#{if($min-value > $max-value, $max-value, $min-value)},
    #{$calc-value},
    #{if($min-value > $max-value, $min-value, $max-value)});
}

h1 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 2.2rem, 2.5rem);
}

h2 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1.8rem, 2rem);
}

h3 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1.5rem, 1.8rem);
}

h4 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1.3rem, 1.5rem);
}

h5 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1.2rem, 1.4rem);
}

h6 {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1rem, 1.22rem);
}

p,
li,
a,
pre,
code,
blockquote,
input,
button {
  // Calling the mixin below…
  @include fluid-type(20rem, 64rem, 1rem, 1.2rem);
}

small,
.is--meta {
  // Calling the mixin below…
  // @include fluid-type(20rem, 64rem, 0.75rem, 1rem);
  @include fluid-type(20rem, 64rem, 0.75rem, 0.9rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --l-spacing: 0;
  --w-spacing: 0;
  font-weight: var(--h-font-wght);
  line-height: var(--line-height-header);
  font-family: var(--h-font);
  text-align: var(--h-pos);
  letter-spacing: var(--l-spacing);
  word-spacing: var(--w-spacing);
  margin-bottom: 0.5em;
}


p,
li,
a,
blockquote,
small {
  font-weight: inherit;
  font-family: var(--b-font);
}


body,
html {
  font-weight: var(--f-wght);
  line-height: var(--line-height);
  font-family: var(--b-font);
  font-style: normal;
  letter-spacing: var(--l-spacing);
  word-spacing: var(--w-spacing);
  text-rendering: optimizeLegibility;
}

p {
  margin-bottom: 1em;
  white-space: normal;
  word-break: keep-all;
  overflow-wrap: keep-all;

  &.is--indented {
    text-indent: var(--space-unit);
  }
}

.paragraph--heading {
  line-height: 1;
  margin-top: 2.5rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

small {
  font-style: italic;
}

blockquote {
  margin: 0 0 1rem;
  padding: var(--space-xxs);
  font-weight: var(--f-wght);
  font-style: italic;
  border-left: 5px solid var(--color-pri);
  border-radius: var(--bor-rad);
  color: var(--f-color);
  background-color: var(--color-p);
}

.is--meta {
  color: var(--color-g-4);
}

.is--bold,
b,
strong {
  font-weight: 600;
}

.is--italic {
  font-style: italic;
}


@media only screen and (max-width: 49.9rem) {
  body {
    text-rendering: optimizeSpeed;
  }
}